---

import {profileConfig} from "../config";

---

<div class="max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex justify-center items-center px-6">
    <div class="transition text-50 text-sm">
      <span>Copyright © 2022-2024 {profileConfig.name}.</span>
    </div>
</div>
